body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #B3B6B7;;    
}


.quem-somos{
    background-color: #76448A  ;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

h3, h4{
    color: white;
}

a{
    color:#fff;
}

.parceiros{
    background-color: #800080;
    color: black;
}

.servicos{
    background-color: #58D68D ;
}

.servicos h3 {
    color: #800080;
    font-weight: bold;
    
}

p{
    color: #154360 ;
}

footer{
    background-color: rgb(52, 56, 56) ;
} 

footer p {
    color:#ECF0F1 ;
}
